footer.site-footer {
    background-color: $primary;
    color: white;

    .main-section {
        padding: 2rem 0rem;
    }

    .bottom-section {
        background-color: $primary-dark;
        padding: 1rem 0rem;
    }
}