$primary: #062a60;
$primary-dark: #031632;
$secondary: #eb7100;
$secondary-dark: #934700;
$yellow: #eba900;
$black: #231f20;

$color__background-body: #f2f2e8;
$color__background-screen: #f2f2e8;
$color__background-hr: #ccc;
$color__background-button: $secondary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $yellow;
$color__link-visited: $secondary-dark;
$color__link-hover: $primary-dark;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
